@media (max-width: 70em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 55%;
  }
  .container {
    height: auto;
  }
  .dashboard {
    padding: 3rem 0 3rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }
  .user-card {
    grid-row: 1 / 2;
    grid-column: 1/3;
  }

  .user-info {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem;
  }
  .user-image {
    grid-row: 1 / -1;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .user-img {
    margin-bottom: 0;
  }

  .user-card p {
    grid-row: 1 / 2;
    grid-column: 3/4;
    display: flex;
    align-items: flex-end;
  }
  .user-name {
    grid-row: 2 / 3;
    grid-column: 3/4;
    font-size: 3rem;
    padding: 0;
  }
  .user-timeframes {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem;
    justify-content: space-evenly;
  }
  .card-body h3 {
    font-size: 4.5rem;
  }
}

@media (max-width: 33em) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
  }
  .user-card {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-body p {
    font-size: 2rem;
    font-weight: 200;
  }
}
@media (max-width: 23em) {
  html {
    font-size: 50%;
  }
  .user-name {
    font-size: 2.5rem;
  }
  .card-body h3 {
    font-size: 3.5rem;
  }
  .card-body p {
    font-size: 1.5rem;
  }
}
