@media (max-width: 70em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 55%;
  }
  .container {
    height: auto;
  }
  .dashboard {
    padding: 3rem 0 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    height: auto;
  }
  .user-info {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem;
  }
  .user-image {
    grid-row: 1 / -1;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .user-img {
    margin-bottom: 0;
  }

  .user-card p {
    grid-row: 1 / 2;
    grid-column: 3/4;
    display: flex;
    align-items: flex-end;
  }
  .user-card h1 {
    grid-row: 2 / 3;
    grid-column: 3/4;
    font-size: 3rem;
    padding: 0;
  }
  .user-timeframes {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem;
    justify-content: space-evenly;
  }
  .card-body h3 {
    font-size: 4rem;
  }
}
