* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* COLOURS */
  /* ### Primary */

  --purple-600: hsl(246, 80%, 60%);
  --orange-300-work: hsl(15, 100%, 70%);
  --blue-300-play: hsl(195, 74%, 62%);
  --pink-400-study: hsl(348, 100%, 68%);
  --green-400-exercise: hsl(145, 58%, 55%);
  --purple-700-social: hsl(264, 64%, 52%);
  --yellow-300-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);

  /* - Font size: 18px (card titles e.g. Work, Play) */
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  /* - Weights: 300, 400, 500 */
  background-color: var(--navy-950);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dashboard {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  height: 60%;
}
.user-card {
  grid-row: span 2;
  background-color: var(--navy-900);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.user-card p {
  font-size: 1.5rem;
  color: var(--navy-200);
  font-weight: 300;
}
.user-card h1 {
  font-size: 4rem;
  font-weight: 300;
  color: wheat;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.user-info {
  background-color: var(--purple-600);
  padding: 3rem;
}
.user-img {
  width: 8rem;
  border: 0.25rem solid white;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.user-timeframes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  flex: 1;
  padding-left: 3rem;
}
.btn {
  /* button takes up only content's width" */
  width: fit-content;
  font-size: 1.75rem;
  background-color: var(--navy-900);
  border: none;
  color: var(--purple-500);
  cursor: pointer;
}
.btn:hover {
  color: var(--navy-200);
}
.btn:active {
  transform: scale(0.95);
}
.card {
  background-color: var(--navy-900);
  border-radius: 1.5rem;
  overflow: hidden;
  color: white;
}

.card-bg {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.card-content {
  border-radius: 1.5rem; /* give the main card the rounding */
  background-color: var(--navy-900);
  height: 100%;
  padding: 3rem;
}
.card-header {
  font-size: 1.2rem;
}
.card-header h2 {
  font-weight: 500;
}
.card-header img {
  width: 2rem;
}
.card-body {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.card-body h3 {
  font-size: 5rem;
  font-weight: 300;
}
.card-body p {
  color: var(--navy-200);
  font-size: 1.2rem;
}

.card-work,
.card-work .card-bg {
  background-color: var(--orange-300-work);
}
.card-play,
.card-play .card-bg {
  background-color: var(--blue-300-play);
}
.card-study,
.card-study .card-bg {
  background-color: var(--pink-400-study);
}
.card-exercise,
.card-exercise .card-bg {
  background-color: var(--green-400-exercise);
}
.card-social,
.card-social .card-bg {
  background-color: var(--purple-700-social);
}
.card-self-care,
.card-self-care .card-bg {
  background-color: var(--yellow-300-self-care);
}
.attribution {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
